<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>EJS Views Example</title>

  <!-- Stylesheet - Bootstrap -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body>

  <div class="container">

    <h2><strong>EJS Views Example</strong></h2>

    <div class="row">
      <div class="col alert alert-info" role="alert">
        <strong>First Name: </strong> <span><%= firstName %></span>
      </div>
    </div>
    <div class="row">
      <div class="col alert alert-info" role="alert">
        <strong>Last Name: </strong> <span><%= lastName %></span>
      </div>
    </div>
    <div class="row">
      <div class="col alert alert-info" role="alert">
        <strong>Address: </strong> <span><%= address %></span>
      </div>
    </div>
  </div>
  </div>
  </div>
</body>

</html>
